<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	 http://www.springframework.org/schema/beans/spring-beans.xsd
     	 http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
     	 http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/yiblogdb" />
		<property name="user" value="root" />
		<property name="password" value="2292" />
		<property name="maxIdleTime" value="1800"/>
	</bean>

	<!-- Hibernate Session Factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		destroy-method="destroy">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
				hibernate.current_session_context_class=thread
				hibernate.hbm2ddl.auto=update
			</value>
		</property>
		<property name="mappingResources">
			<list>
				<value>hbm/Category.hbm.xml</value>
				<value>hbm/Comment.hbm.xml</value>
				<value>hbm/Passage.hbm.xml</value>
				<value>hbm/Power.hbm.xml</value>
				<value>hbm/Reply.hbm.xml</value>
				<value>hbm/SubCategory.hbm.xml</value>
				<value>hbm/User.hbm.xml</value>
				<value>hbm/Announcement.hbm.xml</value>
				<value>hbm/Feedback.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- util -->
	<bean id="hibernateUtil" class="me.paul.yiblog.util.HibernateUtil">
		<property name="factory" ref="sessionFactory"></property>
	</bean>

	<!-- dao -->
	<bean id="categoryDao" class="me.paul.yiblog.dao.impl.CategoryDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="passageDao" class="me.paul.yiblog.dao.impl.PassageDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="commentDao" class="me.paul.yiblog.dao.impl.CommentDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="userDao" class="me.paul.yiblog.dao.impl.UserDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="subCategoryDao" class="me.paul.yiblog.dao.impl.SubCategoryDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="replyDao" class="me.paul.yiblog.dao.impl.ReplyDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="announcementDao" class="me.paul.yiblog.dao.impl.AnnouncementDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="feedbackDao" class="me.paul.yiblog.dao.impl.FeedbackDaoImpl" scope="singleton">
	  <property name="util" ref="hibernateUtil"/>
	</bean>

	<!-- action -->
	<bean id="categoryAction" class="me.paul.yiblog.action.CategoryAction"
		scope="prototype">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	<bean id="passageAction" class="me.paul.yiblog.action.PassageAction"
		scope="prototype">
		<property name="passageDao" ref="passageDao" />
		<property name="categoryDao" ref="categoryDao" />
		<property name="subCategoryDao" ref="subCategoryDao"/>
		<property name="announcementDao" ref="announcementDao"/>
	</bean>
	<bean id="commentAction" class="me.paul.yiblog.action.CommentAction"
		scope="prototype">
		<property name="commentDao" ref="commentDao"></property>
	</bean>
	<bean id="userAction" class="me.paul.yiblog.action.UserAction"
		scope="prototype">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="subCategoryAction" class="me.paul.yiblog.action.SubCategoryAction"
		scope="prototype">
		<property name="subCategoryDao" ref="subCategoryDao"></property>
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	<bean id="replyAction" class="me.paul.yiblog.action.ReplyAction"
		scope="prototype">
		<property name="replyDao" ref="replyDao"></property>
		<property name="commentDao" ref="commentDao"></property>
	</bean>
	<bean id="announcementAction" class="me.paul.yiblog.action.AnnouncementAction"
		scope="prototype">
		<property name="announcementDao" ref="announcementDao"></property>
	</bean>
	<bean id="feedbackAction" class="me.paul.yiblog.action.FeedbackAction" scope="prototype">
	  <property name="feedbackDao" ref="feedbackDao"/>
	</bean>

	<!-- filter -->
	<bean id="loadCategoryFilter" class="me.paul.yiblog.filter.LoadCategoryFilter">
		<property name="categoryDao" ref="categoryDao" />
	</bean>
	<bean id="loadPassageFilter" class="me.paul.yiblog.filter.LoadPassageFilter">
		<property name="count" value="5"></property>
		<property name="passageDao" ref="passageDao"></property>
	</bean>
	<bean id="loadAnnouncementFilter" class="me.paul.yiblog.filter.LoadAnnouncementFilter">
		<property name="announcementDao" ref="announcementDao"/>
	</bean>
	<bean id="loadSiteInfoFilter" class="me.paul.yiblog.filter.LoadSiteInfoFilter">
		<property name="announcementDao" ref="announcementDao"/>
	</bean>

	<!-- interceptor -->
	<bean id="loadCommentInterceptor" class="me.paul.yiblog.interceptor.LoadCommentInterceptor">
		<property name="commentDao" ref="commentDao" />
		<property name="replyDao" ref="replyDao"/>
	</bean>
	

</beans>