<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	 http://www.springframework.org/schema/beans/spring-beans.xsd
     	 http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
     	 http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/yiblogdb" />
		<property name="user" value="root" />
		<property name="password" value="2292" />
	</bean>

	<!-- Hibernate Session Factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		destroy-method="destroy">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
				hibernate.show_sql=true
				hibernate.format_sql=true
				hibernate.current_session_context_class=thread
				hibernate.hbm2ddl.auto=update
			</value>
		</property>
		<property name="mappingResources">
			<list>
				<value>hbm/Category.hbm.xml</value>
				<value>hbm/Comment.hbm.xml</value>
				<value>hbm/Passage.hbm.xml</value>
				<value>hbm/Power.hbm.xml</value>
				<value>hbm/Reply.hbm.xml</value>
				<value>hbm/SubCategory.hbm.xml</value>
				<value>hbm/User.hbm.xml</value>
				<value>hbm/Announcement.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- util -->
	<bean id="hibernateUtil" class="me.paul.yiblog.util.HibernateUtil">
		<property name="factory" ref="sessionFactory"></property>
	</bean>

	<!-- dao -->
	<bean id="categoryDao" class="me.paul.yiblog.dao.impl.CategoryDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="passageDao" class="me.paul.yiblog.dao.impl.PassageDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="commentDao" class="me.paul.yiblog.dao.impl.CommentDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="userDao" class="me.paul.yiblog.dao.impl.UserDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="subCategoryDao" class="me.paul.yiblog.dao.impl.SubCategoryDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="replyDao" class="me.paul.yiblog.dao.impl.ReplyDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>
	<bean id="announcementDao" class="me.paul.yiblog.dao.impl.AnnouncementDaoImpl"
		scope="singleton">
		<property name="util" ref="hibernateUtil" />
	</bean>


	<!-- service -->
	<bean id="categoryService" class="me.paul.yiblog.service.impl.CategoryServiceImpl"
		scope="singleton">
		<property name="cateDao" ref="categoryDao" />
	</bean>
	<bean id="passageService" class="me.paul.yiblog.service.impl.PassageServiceImpl"
		scope="singleton">
		<property name="passDao" ref="passageDao" />
	</bean>
	<bean id="commentService" class="me.paul.yiblog.service.impl.CommentServiceImpl"
		scope="singleton">
		<property name="commentDao" ref="commentDao" />
	</bean>
	<bean id="userService" class="me.paul.yiblog.service.impl.UserServiceImpl"
		scope="singleton">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="subCategoryService" class="me.paul.yiblog.service.impl.SubCategoryServiceImpl"
		scope="singleton">
		<property name="subCategoryDao" ref="subCategoryDao" />
	</bean>
	<bean id="replyService" class="me.paul.yiblog.service.impl.ReplyServiceImpl"
		scope="singleton">
		<property name="replyDao" ref="replyDao" />
	</bean>
	<bean id="announcementService" class="me.paul.yiblog.service.impl.AnnouncementServiceImpl"
		scope="singleton">
		<property name="announcementDao" ref="announcementDao" />
	</bean>

	<!-- action -->
	<bean id="categoryAction" class="me.paul.yiblog.action.CategoryAction"
		scope="prototype">
		<property name="cateService" ref="categoryService"></property>
	</bean>
	<bean id="passageAction" class="me.paul.yiblog.action.PassageAction"
		scope="prototype">
		<property name="passService" ref="passageService" />
		<property name="cateService" ref="categoryService" />
		<property name="subCategoryService" ref="subCategoryService"/>
		<property name="announcementService" ref="announcementService"/>
	</bean>
	<bean id="commentAction" class="me.paul.yiblog.action.CommentAction"
		scope="prototype">
		<property name="commentService" ref="commentService"></property>
	</bean>
	<bean id="userAction" class="me.paul.yiblog.action.UserAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="subCategoryAction" class="me.paul.yiblog.action.SubCategoryAction"
		scope="prototype">
		<property name="subCategoryService" ref="subCategoryService"></property>
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	<bean id="replyAction" class="me.paul.yiblog.action.ReplyAction"
		scope="prototype">
		<property name="replyService" ref="replyService"></property>
		<property name="commentService" ref="commentService"></property>
	</bean>
	<bean id="announcementAction" class="me.paul.yiblog.action.AnnouncementAction"
		scope="prototype">
		<property name="announcementService" ref="announcementService"></property>
	</bean>

	<!-- filter -->
	<bean id="loadCategoryFilter" class="me.paul.yiblog.filter.LoadCategoryFilter">
		<property name="categoryService" ref="categoryService" />
	</bean>
	<bean id="loadPassageFilter" class="me.paul.yiblog.filter.LoadPassageFilter">
		<property name="count" value="5"></property>
		<property name="passageService" ref="passageService"></property>
	</bean>
	<bean id="loadAnnouncementFilter" class="me.paul.yiblog.filter.LoadAnnouncementFilter">
		<property name="announcementService" ref="announcementService"/>
	</bean>
	<bean id="loadSiteInfoFilter" class="me.paul.yiblog.filter.LoadSiteInfoFilter">
		<property name="announcementService" ref="announcementService"/>
	</bean>

	<!-- interceptor -->
	<bean id="loadCommentInterceptor" class="me.paul.yiblog.interceptor.LoadCommentInterceptor">
		<property name="commentService" ref="commentService" />
		<property name="replyService" ref="replyService"/>
	</bean>
	

</beans>